# Development tools
.idea/
.vs/
.vscode/

# Development files
*.lnk

# Application files
Builds/
*.cfg
Settings.xml

# Testing
luajit/

# Release
manifest-updated.xml

# GGPK Export
Export/ggpk/Metadata/*
Export/ggpk/Data/*
Export/ggpk/*.exe
Export/ggpk/*.dll
