# Pob application settings
Settings.xml

# PoB runtime config
*.cfg

# PoB builds
Builds/

# Release artefacts
manifest-updated.xml

# GGPK Exporter artefacts
src/Export/ggpk/Metadata/*
src/Export/ggpk/Data/*
src/Export/ggpk/*.exe
src/Export/ggpk/*.dll
src/Export/Tree/PassiveSkillGraph.psg
src/Export/Tree/passives
src/Export/Tree/skills-3.jpg
src/Export/Tree/skills-disabled-3.jpg
src/Export/Tree/groups-3.png
src/Export/spec.bak

# Test coverage
luacov.stats.out
