# Development tools
.idea/
.vs/
.vscode/

# Development files
*.lnk

# Application files
Builds/
*.cfg
Settings.xml

# Testing
luajit/

# Release
manifest-updated.xml

# GGPK Export
src/Export/ggpk/Metadata/
src/Export/ggpk/Data/
src/Export/ggpk/*.exe
src/Export/ggpk/*.dll
