<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Path of Building</string>
	<key>CFBundleDisplayName</key>
	<string>Path of Building</string>
	<key>CFBundleIdentifier</key>
	<string>community.pathofbuilding.dev</string>
	<key>CFBundleExecutable</key>
	<string>Path of Building</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Path of Building import link</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>pob</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
